<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    {% seo %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
    <link rel="stylesheet" href="/assets/css/home.css" />
</head>

<body>
    <div class="placeholder">
        <div class="ph-item">
            <div class="ph-col-12">
                <div class="ph-row">
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-6 empty"></div>
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-2 empty"></div>
                    <div class="ph-col-small"></div>
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-4"></div>
                    <div class="ph-col-small"></div>
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-4"></div>
                    <div class="ph-col-small"></div>
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-4"></div>
                    <div class="ph-col-small"></div>
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-4"></div>
                    <div class="ph-col-small"></div>
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-small"></div>
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-4 big"></div>
                    <div class="ph-col-small"></div>
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-4"></div>
                    <div class="ph-col-8 empty"></div>
                    <div class="ph-col-4"></div>
                    <div class="ph-col-12 empty"></div>
                    <div class="ph-col-5 empty"></div>
                    <div class="ph-col-2"></div>
                    <div class="ph-col-5 empty"></div>
                    <div class="ph-col-12 empty"></div>
                    <div class="ph-col-5 empty"></div>
                    <div class="ph-col-2"></div>
                    <div class="ph-col-5 empty"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="display: none">
        <main>
            <article>
                <h2>Derniers articles</h2>
                <ul class="blog-list">
                    {% for post in site.posts %}
                    {% if post.lang == 'fr_FR' %}
                    <li>
                        <span class="blog-date">{{ post.date | date: "%-d %B, %Y" | replace: "January", "Janvier" |
                            replace: "February", "Février" | replace: "March", "Mars" | replace: "April", "Avril" |
                            replace: "May", "Mai" | replace: "June", "Juin" | replace: "July", "Juillet" | replace:
                            "August", "Août" | replace: "September", "Septembre" | replace: "October", "Octobre" |
                            replace: "November", "Novembre" | replace: "December", "Décembre" }}</span>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </article>
            <aside>
                <h1>Alexandre's Blog</h1>
                <div class="abstract">
                    <i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i>
                    La programmation est une partie importante de ma vie, donc en tant que développeur, je voulais créer
                    un blog afin de partager ce que je sais, mais surtout des choses intéressantes que je découvre.
                </div>
                <hr />
                <ul class="fa-ul">
                    <!-- <li>
                        <i class="fa-li fa fa-rss"></i>Vous voulez être tenu informé ?
                        <a href="/fr/feed.xml">Il y a un flux RSS</a> pour cela !
                    </li> -->
                    <li>
                        <i class="fa-li fa fa-code-fork"></i>Le code-source de ce site web est
                        disponible
                        <a href="https://github.com/alexcpr/blog">ici.</a>
                    </li>
                </ul>
            </aside>
        </main>
        <footer>
            <div style="text-align: center">
                <p id="loadtime"></p>
                <p>
                    <!-- s'abonner <a href="/fr/feed.xml">via RSS</a> - -->
                    <a href="/en" id="r">EN Version</a>
                </p>
            </div>
        </footer>
    </div>
    <script defer>
        var _ = document.querySelector.bind(document);
        function fadeOut(d) {
            (d.style.opacity = 1),
                (function e() {
                    0 > (d.style.opacity -= 0.1)
                        ? (d.style.display = "none")
                        : requestAnimationFrame(e);
                })();
        }
        function fadeIn(d) {
            (d.style.opacity = 0),
                (d.style.display = ""),
                (function e() {
                    var f = parseFloat(d.style.opacity);
                    1 < (f += 0.1) || ((d.style.opacity = f), requestAnimationFrame(e)),
                        (d.style.opacity = 1) && (d.style.opacity = "");
                })();
        }
        window.addEventListener("load", function () {
            var d = _(".placeholder"),
                e = _(".content");
            d.parentNode.removeChild(d), fadeIn(e);
        });
    </script>
    <script>
        window.onload = function () {
            for (var c = document.links, d = 0, f = c.length; f > d; d++)
                c[d].hostname != window.location.hostname &&
                    (c[d].innerHTML +=
                        ' <i class="fa fa-external-link" style="font-size:0.7em"></i>');
            setTimeout(function () {
                var g = window.performance && performance.timing,
                    h = (g.loadEventEnd - g.navigationStart) / 1e3;
                _("#loadtime").innerHTML =
                    "Cette page a \xE9t\xE9 charg\xE9e en " + h + " secondes";
            }, 0),
                _("#r").addEventListener("click", function (g) {
                    g.preventDefault();
                    var h = window.location.pathname;
                    (nurl = h.includes("/en/")
                        ? h.replace("/en/", "/fr/")
                        : h.includes("/fr/")
                            ? h.replace("/fr/", "/en/")
                            : "/en"),
                        (window.location = nurl);
                });
        };
    </script>
</body>

</html>