<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    {% seo %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
    <link rel="stylesheet" href="/assets/css/post.css" />
</head>

<body>
    <main>
        <article>
            <h1>{{ page.title }}</h1>
            <nav>
                <a href="/en">
                    <i class="fa fa-chevron-left" style="font-size: 0.7em"></i> Go back
                    to index</a>
            </nav>
            <div>
                {{ content | toc }}
            </div>
        </article>
    </main>
    <footer>
        <div style="text-align: center">
            <p id="loadtime"></p>
            <p>
                <!-- subscribe <a href="/en/feed.xml">via RSS</a> - -->
                <a href="/fr" id="r">FR Version</a>
            </p>
        </div>
    </footer>
    <script>
        var _ = document.querySelector.bind(document);
        window.onload = function () {
            for (var a = document.links, b = 0, e = a.length; e > b; b++)
                a[b].hostname != window.location.hostname &&
                    (a[b].innerHTML +=
                        ' <i class="fa fa-external-link" style="font-size:0.7em"></i>');
            setTimeout(function () {
                var g = window.performance && performance.timing,
                    h = (g.loadEventEnd - g.navigationStart) / 1e3;
                _("#loadtime").innerHTML = "This page loaded in " + h + " seconds";
            }, 0),
                _("#r").addEventListener("click", function (g) {
                    g.preventDefault();
                    var h = window.location.pathname;
                    (nurl = h.includes("/fr/")
                        ? h.replace("/fr/", "/en/")
                        : h.includes("/en/")
                            ? h.replace("/en/", "/fr/")
                            : "/fr"),
                        (window.location = nurl);
                });
        };
    </script>
</body>

</html>